body {
    margin: 0;
}

ul,
a {
    list-style: none;
    text-decoration: none;
    color: black;
    padding: 0;
}

input {
    outline: none;
    list-style: none;
}

.wrap {
    width: 400px;
    height: 500px;
    border: 1px solid lightgray;
    margin: 150px auto;
    border-radius: 10px;
    padding: 60px 50px;
    box-sizing: border-box;
    text-align: center;
}
.mypage{
    font-weight: 600;
    margin: 30px 0;
}
.login_text {
    font-size: 22px;
    margin-bottom: 20px;
}

.id,
.pw {
    width: 100%;
    height: 50px;
    margin-bottom: 8px;
    padding: 16px;
    box-sizing: border-box;
    border: 1px solid lightgray;
    border-radius: 5px;

}

.find_wrap {
    width: 100%;
    height: 25px;
    line-height: 25px;
    display: flex;
    justify-content: space-between;
    font-size: 12px;


}

.remember {
    display: inline;

}

label {
    cursor: pointer;
}

.find_info {
    display: inline;
}

.find_info>a {
    margin-left: 5px;
}

.find_id::after {
    content: "";
    height: 20px;
    border-right: 1px solid lightgray;
    margin-left: 10px;
}

.login,
.logout,
.join {
    width: 100%;
    height: 50px;
    margin-bottom: 8px;
    padding: 16px;
    box-sizing: border-box;
    border: none;
    border-radius: 5px;
    background-color: #FFBF00;
    color: white;
    font-weight: 600;
    cursor: pointer;
}

.join {
    background-color: #fff;
    border: 1px solid;
    color: #FFBF00;
}
.hidden{
    display: none;
}